@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">QUEST</h1>
    <p>Query Set Evaluation System</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
